<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi carrito — Huellitas</title>
  <link rel="shortcut icon" href="../fotos/pets.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body>






    <footer class="footer">
        <div class="footer-inner">
        <div class="footer-top">
            <div class="footer-logo">Hue<span>llitas</span>
            </div>
            <div class="footer-social">
            <div class="social-btn"> <a href="#">f</a>
            </div>
                <div class="social-btn"> <a href="#">in</a> 
                </div>

                <div class="social-btn"> <a href="#">ig</a> 
                </div>
            </div>
      </div>
      <div class="footer-cols">
        <div class="footer-col">
          <h4>Sobre nosotros</h4>
          <ul>
            <li><a href="#">Nuestra historia</a></li>
            <li><a href="#">Proveedores</a></li>
            <li><a href="#">Sucursales</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contacto</h4>
          <ul>
            <li><a href="#">Email</a></li>
            <li><a href="#">Teléfono</a></li>
            <li><a href="#">WhatsApp</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Métodos de pago</h4>
          <div class="footer-pagos">
            <img src="fotos/visa.webp" alt="Visa" class="pago-img">
            <img src="fotos/master.svg" alt="Mastercard" class="pago-img">
            <img src="fotos/american.png" alt="American Express" class="pago-img">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2026 Huellitas — todos los derechos reservados</p>
    </div>
  </footer>
</html>