<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop Huellitas- Amor & Cuidado para tu mascota</title>
    <link rel="shortcut icon" href="fotos/pets.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
     <header>   
        <div class="top-bar">
    <div class="top-bar-slide">🚚 Envío gratis en compras mayores a $80.000</div>
    <div class="top-bar-slide">🐾 ¡Nuevos productos todas las semanas!</div>
  </div>

  <nav class="navbar">
    <div class="navbar-inner">
      <a href="index.html"><img src="fotos/logo.png" alt="PetShop" height="40"></a>
      <div class="nav-search">
        <input type="text" placeholder="Buscar productos, marcas..." />
        <button>🔍</button>
      </div>
      
      </div>
    </div>
  </nav>

     </header>
       
     <main>




     </main>

     <footer>




     </footer>

</body>
</html>